*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variable";

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 2.5em;
  margin: 0 auto;
}

//------------ROOT STYLES ENDS HERE---------------

.home_page {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  .form_control {
    // background: red;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .form_box,
    .map_box {
      width: 50%;
      display: grid;
      place-items: center;
      margin: 1em;
      // background: silver;
    }
    .form_box {
      form {
        width: 320px;
        border: 1px solid $secondaryColor;
        padding: 2em 1.5em;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .avatar {
          width: 100%;
          margin-bottom: 3em;
          .circle {
            width: 120px;
            height: 120px;
            background: $primaryColor;
            margin: 0 auto;
            border-radius: 50%;
            // box-shadow: 2p
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
              rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          }
        }
        .common {
          margin: 2em 0;
          label {
            font-size: 1.7rem;
            color: $extra;
            text-transform: capitalize;
            span {
              color: $errorColor;
              margin-left: -3px;
            }
          }
          input,
          textarea {
            width: 100%;
            padding: 0.3em 0.5em;
            font-size: 2rem;
            margin-top: 0.2em;
            border: none;
            outline: none;
            border: 1px solid $secondaryColor;
            transition: all 0.3s ease-in-out;
            &:focus {
              border: 1px solid $primaryColor;
              border-bottom: 2px solid $primaryColor;
            }
          }
        }
        button {
          width: 100%;
          border: none;
          outline: none;
          background: $primaryColor;
          color: $secondaryColor;
          padding: 0.6em;
          font-size: 1.7rem;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: #0c346b;
            color: #fff;
          }
        }
      }
    }
    .map_box {
      .map_layout {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        display: grid;
        place-items: end;
        align-items: center;
        .map_container {
          width: 50%;
          display: grid;
          place-items: center;
          .map {
            width: 350px;
            background: $secondaryColor;
            height: 500px;
            position: relative;
            iframe {
              width: 100%;
              height: 100%;
            }
            .user_list_bar {
              width: 100%;
              background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0.01)
              );
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              height: 200px;
              padding: 1.5em;
              padding-top: 2em;
              form {
                label {
                  font-size: 2rem;
                  text-transform: capitalize;
                  color: $secondaryColor;
                  // font-weight: bold;
                  color: #fff;
                }
                select {
                  width: 100%;
                  border: 1px solid $primaryColor;
                  outline: none;
                  padding: 0.3em 0.5em;
                  font-size: 1.6rem;
                  margin-top: 0.5em;
                  border-radius: 25px;
                }
                button {
                  width: 100%;
                  margin-top: 0.5em;
                  font-size: 1.5rem;
                  border: 1px solid $secondaryColor;
                  background: $primaryColor;
                  color: #fff;
                  padding: 0.5em;
                  border-radius: 25px;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: #fff;
                    color: $primaryColor;
                    border: 1px solid $primaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.app {
  width: 600px;
  height: 600px;
}
